.navigation {
  background-color: #ffffff;
  position: relative;
  height: 100vh;
  width: 100%;
  z-index: 1;
  font-family: 'Route', Arial, sans-serif;

  &__link {
    width: 100px;
    height: 40px;
    color: #327c90;
    font-size: 24px;
    font-weight: normal;
    text-decoration: none;
    text-align: center;
  }

  &__text {
    font-size: 24px;
    font-weight: 900;
    width: 100px;
    margin: 20px auto;
  }

  &__nav {
    margin-top: 180px;
  }

  &__link:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 7px;
  }

  &__button {
    display: block;
    width: 160px;
    height: 50px;
    line-height: 50px;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    margin: 60px auto 0;
    color: #fff;
    background-color: #327c90;
    text-decoration: none;
    border-radius: 10px;
  }

  &__button:hover {
    opacity: 0.8;
  }
}
