.button-exit {
  text-decoration: none;
  display: block;
  width: 120px;
  margin: 30px auto;

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 12px;
    gap: 8px;
    height: 34px;
    width: 112px;
    border: none;
    background: #5ec9cd34;
    border-radius: 20px;
    cursor: pointer;
    margin: 40px auto;
  }
  &__svg-icon {
    width: 18px;
    height: 18px;
  }

  &__lable {
    line-height: 20px;
    font-size: 17px;
    color: #fff;
    font-family: sans-serif;
    letter-spacing: 1px;
  }

  &__btn:hover {
    transform: scale(1.1);
  }
}
