.header {
  margin: 40px auto;
  width: 90%;
  position: relative;
  z-index: 5;
  font-family: 'Route', Arial, sans-serif;

  &__link {
    font-size: 18px;
    font-weight: 900;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    margin: 0 20vw 0 0;
    height: 16px;
    cursor: pointer;
  }

  &__link:nth-child(1) {
    margin-right: 25vw;
  }

  &__link_active {
    display: block;
    width: 100px;
    height: 30px;
    line-height: 30px;
    border-radius: 20px;
    background-color: #ffffff;
    color: #327c90;
  }

  &__burger {
    display: none;
  }
}

@media (max-width: 768px) {
  .header {
    display: flex;
    justify-content: end;

    &__container {
      display: none;
    }

    &__burger {
      display: flex;
      width: 40px;
      height: 40px;
      cursor: pointer;
      align-items: center;
      flex-direction: column;
      z-index: 3;
    }

    &__burger span {
      transition: all 0.4s;
      height: 2px;
      background-color: #fff;
      display: block;
      width: 40px;
      margin: 4px;
    }

    &__burger_pop span:nth-child(1) {
      transform: translate(7px, -6px) rotate(45deg);
      transform-origin: left top;
      background-color: #000;
    }

    &__burger_pop span:nth-child(2) {
      transform: scale(0);
    }

    &__burger_pop span:nth-child(3) {
      transform: translate(-5px, -25px) rotate(-45deg);
      transform-origin: right bottom;
      background-color: #000;
    }
  }
}
