@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Mynerve&family=Nunito:ital,wght@0,300;0,400;0,500;0,600;0,800;0,900;1,700&family=Victor+Mono:ital,wght@1,700&display=swap");

.footer {
  width: 100%;
  margin: 50px auto 80px;
  font-family: "Montserrat", sans-serif;
  //font-family: "Nunito", sans-serif;

  &__title {
    margin: 0 auto 20px;
    font-size: 24px;
    font-weight: 300;
    line-height: 30px;
    text-align: center;
    color: #fff;
  }

  &__link {
    text-decoration: none;
  }

  &__container {
    margin: 20px auto;
    width: 100px;
    display: flex;
    gap: 20px;
  }

  &__icon {
    width: 30px;
    height: 30px;
  }

  &__social-links,
  &__flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__social-btn {
    cursor: pointer;
    height: 50px;
    width: 50px;
    font-family: "Titillium Web", sans-serif;
    color: #333;
    border-radius: 10px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    background: white;
    margin: 5px;
    transition: 0.3s;
    justify-content: center;
  }

  &__social-btn svg {
    height: 24px;
    width: 24px;
  }

  &__social-btn span {
    width: 0px;
    overflow: hidden;
    transition: 0.3s;
    text-align: center;
    margin-left: 5px;
    font-size: 12px;
  }

  &__social-btn:hover {
    width: 150px;
    border-radius: 5px;
  }

  &__social-btn:hover span {
    padding: 2px;
    width: 100px;
  }

  &__text {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .footer {
    span {
      display: none;
    }

    &__phone {
      display: none;
    }

    &__social-btn:hover {
      width: 50px;
    }
  }

  .footer__social-btn span {
    font-style: 14px;
  }
}
